In [1]:
import pandas
pandas.__version__

'1.0.1'

In [2]:
import numpy as np
import pandas as pd

In [4]:
co = pd.Series([345, 456,5678])
co

0     345
1     456
2    5678
dtype: int64

In [5]:
co.values
co.index

RangeIndex(start=0, stop=3, step=1)

In [9]:
virus = pd.Series([345, 456,5678],
                  index=['covid 19', 'dengu', 'rasmas'])
virus

covid 19     345
dengu        456
rasmas      5678
dtype: int64

In [10]:
virus['rasmas']

5678

In [11]:
virus[2]

5678

In [13]:
virus.name = 'co'
virus.index.name = 'fobida'
virus

fobida
covid 19     345
dengu        456
rasmas      5678
Name: co, dtype: int64

In [14]:
np.log(virus)

fobida
covid 19    5.843544
dengu       6.122493
rasmas      8.644354
Name: co, dtype: float64

In [15]:
virus[virus>1000]

fobida
rasmas    5678
Name: co, dtype: int64

In [16]:
virus_dict = {'covid 19': 345, 'dengu': 456, 'rasmas': 5678}
print(virus_dict)
pd.Series(virus_dict)

{'covid 19': 345, 'dengu': 456, 'rasmas': 5678}

covid 19     345
dengu        456
rasmas      5678
dtype: int64

In [18]:
block = {"Pattern": ["GP", "RP", "HP", "LP"],
        "Head on-crases": [10-25, 40-50, 20-10, 15-10],
        "Literacy": [0.2, 0.1, 0.5, 0.3]}
print(block)
block = pd.DataFrame(block)
block

{'Pattern': ['GP', 'RP', 'HP', 'LP'], 'Head on-crases': [-15, -10, 10, 5], 'Literacy': [0.2, 0.1, 0.5, 0.3]}

  Pattern  Head on-crases  Literacy
0      GP             -15       0.2
1      RP             -10       0.1
2      HP              10       0.5
3      LP               5       0.3

In [20]:
df = pd.DataFrame(block, columns=["Pattern", "Head on-crases", "Literacy"])
df

  Pattern  Head on-crases  Literacy
0      GP             -15       0.2
1      RP             -10       0.1
2      HP              10       0.5
3      LP               5       0.3

In [34]:
df['collection'] = df.Head on-crases / df.Literacy
df

SyntaxError: invalid syntax (<ipython-input-34-d1028c01a0fc>, line 1)

In [33]:
df['Series'] = pd.Series(range(4), index=[0,1,2, 3])
df

  Pattern  Head on-crases  Literacy  Series
0      GP             -15       0.2       0
1      RP             -10       0.1       1
2      HP              10       0.5       2
3      LP               5       0.3       3

In [35]:
df.to_dict()

{'Pattern': {0: 'GP', 1: 'RP', 2: 'HP', 3: 'LP'},
 'Head on-crases': {0: -15, 1: -10, 2: 10, 3: 5},
 'Literacy': {0: 0.2, 1: 0.1, 2: 0.5, 3: 0.3},
 'Series': {0: 0, 1: 1, 2: 2, 3: 3}}

In [36]:
pd.DataFrame(df.to_dict())

  Pattern  Head on-crases  Literacy  Series
0      GP             -15       0.2       0
1      RP             -10       0.1       1
2      HP              10       0.5       2
3      LP               5       0.3       3

In [38]:
data = [{'a': i, 'e':1* i}for i in range(7)]
print(data)
pd.DataFrame(data)

[{'a': 0, 'e': 0}, {'a': 1, 'e': 1}, {'a': 2, 'e': 2}, {'a': 3, 'e': 3}, {'a': 4, 'e': 4}, {'a': 5, 'e': 5}, {'a': 6, 'e': 6}]

   a  e
0  0  0
1  1  1
2  2  2
3  3  3
4  4  4
5  5  5
6  6  6

In [41]:
pd.DataFrame([{'a': 1, 'e': 2}, {'a': 6, 'i': 4}])

   a    e    i
0  1  2.0  NaN
1  6  NaN  4.0

In [44]:
pd.DataFrame(np.random.randint(7, 15ind = pd.Index([20, 34, 57, 7, 1, 8])
ind),
             columns=['coat', 'size'],
             index=['a', 'b', 'c'])

   coat  size
a    13    13
b    13    13
c    13    13

In [48]:
index1 = pd.Index([30, 50, 4, 8, 6])
index1

Int64Index([30, 50, 4, 8, 6], dtype='int64')

In [49]:
index1[1]

50

In [50]:
index1[::]

Int64Index([30, 50, 4, 8, 6], dtype='int64')

In [51]:
print(index1.size, index1.shape, index1.ndim, index1.dtype)

5 (5,) 1 int64

In [53]:
index1[1] = 6

TypeError: Index does not support mutable operations

In [55]:
r = np.random.RandomState(15)
s = pd.Series(r.randint(0, 10, 4))
s

0    8
1    5
2    5
3    7
dtype: int32

In [66]:
d = pd.DataFrame(r.randint(0, 8, (7, 4)),
                  columns=['A', 'E', 'I', '0'])
d

   A  E  I  0
0  3  2  6  6
1  7  5  7  6
2  1  4  5  0
3  2  6  3  1
4  2  6  4  0
5  3  3  1  6
6  2  3  2  4

In [67]:
country = pd.Series({'India': 1723337, 'Canada': 695662,
                  'UK': 423967}, name='country')
population = pd.Series({'Canada': 38332521, 'UK': 26448193,
                        'China': 19651127}, name='population')
print(country)
population

India     1723337
Canada     695662
UK         423967
Name: country, dtype: int64

Canada    38332521
UK        26448193
China     19651127
Name: population, dtype: int64

In [68]:
population / country

Canada    55.102221
China           NaN
India           NaN
UK        62.382669
dtype: float64

In [69]:
country.index | population.index

Index(['Canada', 'China', 'India', 'UK'], dtype='object')

In [71]:
A = pd.Series([6, 2, 4], index=[1, 3, 0])
B = pd.Series([2, 5, 3], index=[2, 0, 1])
print(A)
print(B)
B
A + B
A - B

1    6
3    2
0    4
dtype: int64
2    2
0    5
1    3
dtype: int64

0   -1.0
1    3.0
2    NaN
3    NaN
dtype: float64

In [72]:
A.add(B, fill_value=0)

0    9.0
1    9.0
2    2.0
3    2.0
dtype: float64

In [73]:
df

  Pattern  Head on-crases  Literacy  Series
0      GP             -15       0.2       0
1      RP             -10       0.1       1
2      HP              10       0.5       2
3      LP               5       0.3       3

In [74]:
df2 = pd.DataFrame({"Pattern": ["GP", "HP", "LP"], "Head on-crases": ["10-25", "40-50", "20-10"]})
df2

  Pattern Head on-crases
0      GP          10-25
1      HP          40-50
2      LP          20-10

In [76]:
df.merge(df2)

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat

In [78]:
df3 = pd.DataFrame({"Pattern": ["GP", "RP"], "Head on-crase": ["10-25", "40-50"]})
df3
df.merge(df3, right_on='Pattern', left_on='Pattern')

  Pattern  Head on-crases  Literacy  Series Head on-crase
0      GP             -15       0.2       0         10-25
1      RP             -10       0.1       1         40-50

In [79]:
df4 = pd.DataFrame({"Pattern": ["GP", "RP", "HP"], "Head on-crase": ["10-25", "40-50", "20-10"]})
df.merge(df4, how='outer')

  Pattern  Head on-crases  Literacy  Series Head on-crase
0      GP             -15       0.2       0         10-25
1      RP             -10       0.1       1         40-50
2      HP              10       0.5       2         20-10
3      LP               5       0.3       3           NaN

In [80]:
df5 = pd.DataFrame({"Pattern": ["GP", "RP", "HP"], "Head on-crase": ["10-25", "40-50", "20-10"]})
print(df)
df.merge(df5, how='outer')

  Pattern  Head on-crases  Literacy  Series
0      GP             -15       0.2       0
1      RP             -10       0.1       1
2      HP              10       0.5       2
3      LP               5       0.3       3

  Pattern  Head on-crases  Literacy  Series Head on-crase
0      GP             -15       0.2       0         10-25
1      RP             -10       0.1       1         40-50
2      HP              10       0.5       2         20-10
3      LP               5       0.3       3           NaN

In [88]:
serie_p = pd.Series([np.nan, 8.5, np.nan, 2.5, 5.5, np.nan],
                     index=['a', 'e', 'i', 'o', 'u', 'a'])
serie_q = pd.Series(np.arange(len(serie_a), dtype=np.float64),
                 index=['a', 'e', 'i', 'o', 'o', 'u'])

In [89]:
serie_p

a    NaN
e    8.5
i    NaN
o    2.5
u    5.5
a    NaN
dtype: float64

In [90]:
serie_q

a    0.0
e    1.0
i    2.0
o    3.0
o    4.0
u    5.0
dtype: float64

In [91]:
pd.Series(np.where(pd.isnull(serie_p), serie_q, serie_p), index=serie_p.index)

a    0.0
e    8.5
i    2.0
o    2.5
u    5.5
a    5.0
dtype: float64

In [92]:
serie_p.combine_first(serie_q)

ValueError: cannot reindex from a duplicate axis